
<h1>New Post</h1>
<form action='/post' method='POST'>
  <div>
      <label for='Title'>Title:  </label>
      <input id="Title" type="text" name="post[title]">
  </div>
  <br>
  <div>
    <label for="Post">Post: </label>
    <textarea cols="40" rows="8" name="post[body]"></textarea>
  </div>
  <br>
  <div>
    <label for='Tags'>Tags:  </label>
    <input id="Tags" type="text" name="post[tags]">
  </div>
</form>
    <form action="/post/add" method="POST">
    <input type="submit" value="Submit">
